

@model NykaaDemoWeb.LoginModel;
@{
    ViewData["Title"] = string.Empty;
}
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Nykaa - Shopping</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/css/HomePage.css" rel="stylesheet" />
    <link type="image/png"  rel="icon" href=".../wwwroot/css/icons8-nykaa-100.png" />
    <link rel="icon" type="image/png" href="https://th.bing.com/th/id/OIP.kMlP3CWpxDnp9rCDKq-dJQAAAA?w=150&h=150&c=7&r=0&o=5&dpr=1.5&pid=1.7" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div>
                    <a class="navbar-brand">
                        <img src="/css/nykaa.jpg" width="80" height="40" />
                    </a>
                </div>
                <div class="input-group">
                  <div class="form-outline">
                    <input id="search-input" type="search" class="form-control" placeholder="Search for any product, category or sub-category"/>
                
                  </div>
                  <button id="search-button" type="button" class="btn btn-primary login_btn">
                    <i class="fas fa-search"></i>
                  </button>
                </div>

                

                <div class="px-4">
                    <button>
                        <i class="bi bi-cart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </i>
                    </button>
                </div>
                <div>
                    <p>Welcome! @ViewBag.UserName</p>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div>
        
        <div class="topnav d-flex justify-content-around">
            <a href="#home">Home</a>
            <ul class="list-unstyled pb-0">
                <li class="dropdown-submenu">
                    <a class="dropdown-item" tabindex="-1" href="#">Categories</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" tabindex="-1" href="#"><span class="text-black-50">Make Up</span></a></li>
                        <li><a class="dropdown-item" tabindex="-1" href="#"><span class="text-black-50">Hair</span></a></li>
                        <li><a class="dropdown-item" tabindex="-1" href="#"><span class="text-black-50">Skin</span></a></li>
                        <li><a class="dropdown-item" tabindex="-1" href="#"><span class="text-black-50">Wellness</span></a></li>
                    </ul>
                </li>
            </ul>
            <a href="#contact">Contact Us</a>
            <a href="#about">About Us</a>
        </div>
    </div>
    @*<div class="card-group d-flex justify-content-around p-4">
    <div class="">
    <img class="card-img-top" src="/CompactPowder.jpg" width="326" height="200">
    <div class="card-body">
    <h5 class="card-title">Best Compact Powder</h5>
    <p class="card-text">This is a great Compact Powder!</p>
    <p>Rs.625/-</p>
    <p>*****</p>
    <button class="login_btn">Buy Now!</button>
    </div>
    </div>
    <div class="">
    <img class="card-img-top" src="/lipstick.jpg" width="326" height="200" />
    <div class="card-body">
    <h5 class="card-title">Sugar Matte Blush Lipstick</h5>
    <p class="card-text">Matte Finish Lipstick for longer duration</p>
    <p>Rs.345/-</p>
    <p>****</p>
    <button class="login_btn">Buy Now!</button>
    </div>
    </div>
    <div class="">
    <img class="card-img-top" src="/Eyeliner.jpg" width="326" height="200">
    <div class="card-body">
    <h5 class="card-title">Black Smudge Free Eyeliner!</h5>
    <p class="card-text"> Eyeliner is the <br/> best for the eyes!</p>
    <p>Rs.450/-</p>
    <p>*****</p>
    <button class="login_btn">Buy Now!</button>
    </div>
    </div>*@

    <div class="">
        <img class="card-img-top" src="/banner.jpg">
        <img class="card-img-top" src="/banner2.jpg">
    </div>
</body>
</html>